/* General font change + other styling if need be */

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* font of caption */

caption{
    font-size: large;
    font-weight: bold;
    color: rgb(0, 83, 250);
    border-bottom: 1px solid #61cbce;
}

/* Table spacing */
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;    
}

thead{
    text-align: center;
    color: rgb(0, 83, 250);
    font: Verdana;
    font-size: medium;
}

tbody{
    text-align: center;
}

th, td{
    border-bottom: 1px solid #61cbce;
    padding: 10px;
}